<ion-content class="login-content">

  <div class="overlay">

    <div class="login-card">

      <h1 class="title">Pedregal</h1>

      <p class="subtitle">
        Bienvenido nuevamente
      </p>

      <ion-item lines="none" class="input-item">
        <ion-input
          placeholder="Usuario">
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-input
          type="password"
          placeholder="Contraseña">
        </ion-input>
      </ion-item>

      <ion-button
        expand="block"
        class="login-btn">

        Ingresar

      </ion-button>

    </div>

  </div>

</ion-content>