<ion-tabs>

  <ion-tab-bar slot="bottom" class="pedregal-tab-bar">

    <ion-tab-button tab="dashboard" href="/tabs/dashboard" class="tab-btn">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="staff" href="/tabs/staff" class="tab-btn">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Staff</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports" href="/tabs/reports" class="tab-btn">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sync" href="/tabs/sync" class="tab-btn">
      <ion-icon name="sync-outline"></ion-icon>
      <ion-label>Sync</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
